/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Estilos de header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
}

/* Estilos de sección principal */
#hero {
    height: 80vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: #fff;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    transition: background-color .3s ease;
}